body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 414px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

#assemblyCode {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#runButton, #stopButton #solutionButton {
    margin: 5px;
}
.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.delay-input-group {
    display: flex;
    align-items: center;
    margin-left: 15px;

}

.small-textarea {
    width: 100px; /* Adjust width */
    height: 0px; /* Adjust height */
    resize: none; /*Prevent resizing */
    /* text-align: center; Center-align text */
    font-size: 14px; /* Adjust font size */
    margin-left: 5px; /* Spacing between label and textarea */
}


#canvasContainer {
    position: relative;
    margin: 0 auto 20px auto;
}

#loadingIndicator, #mazeCanvas {
    display: block;
}

#loadingIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

#mazeCanvas {
    display: none;
}

#output {
    margin-top: 20px;
}
